# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Pull Request script

on:
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0.17
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_USER: harvest
          MYSQL_PASSWORD: harvest
          MYSQL_DATABASE: harvest
        ports:
          - 3306:3306
        options:
          --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3


    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.11
        uses: actions/setup-java@v1
        with:
          java-version: 1.11
      - name: Build with Maven
        run: mvn -Dtgnotifier.telegramToken="${{secrets.TELEGRAM_TOKEN}}" -Dtgnotifier.wsUrl="https://ethparser-api.herokuapp.com/stomp" -Dspring.datasource.url=jdbc:mysql://localhost:3306/harvest -Dspring.datasource.username=harvest -Dspring.datasource.password=harvest -B package -ff -T 1 --file pom.xml